ENVIRONMENT=development
PROJECT_NAME="Asset Care API"
VERSION="0.1.0"
API_V1_STR="/api/v1"
API_PORT=8001

POSTGRES_USER=assetcare
POSTGRES_PASSWORD=assetcare_secret
POSTGRES_DB=assetcare_db
POSTGRES_PORT=5433

DATABASE_URL=postgresql+psycopg2://assetcare:assetcare_secret@db:5432/assetcare_db
CORS_ORIGINS=*
